# Ignore Python cache and venv files and directories
**/*.pyc
__pycache__/
**/__pycache__
.venv
**/.venv

.DS_Store
**/.DS_Store

*.md
**.md
docs/

# Ignore directories that don't get copied into the solver image
cdk_infra/
docs/
scripting/runner/

upgrades/